*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    scroll-behavior: smooth;
    overflow: scroll;
    font-family: "Poppins",sans-serif;
}



/* navbar */
.navbar{
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-item{
    padding: 0 1rem;
}
.nav-link{
    position: relative;
    cursor: pointer;
}
.navbar-nav {
    padding: 1px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover{
    transition: ease-in-out all 500ms;
    color: orange;
    
}
@media screen  and (max-width:1400px){
    .navbar-brand{
        padding-left:2rem ;
    }
}
@media screen  and (max-width:768px){
    .navbar-brand{
        padding-left:5px ;
        line-height: 30px;
    }
    .navbar ul{
        text-align: center;
    }
   .navbar li{
       line-height: 35px;
   }
   .navbar  a:hover, .navbar a:active{
       border: none !important;
       color: orange !important ;
   }

}
.icons{
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: #fff;
    display: grid;
}
.icons span:not(:last-child){
    padding-right: 1rem;
}
.icons span{
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.icons span:hover{
    color: #dd9a05;
}
@media screen and (max-width:700px) {
    .icons{
        bottom: -5%;
        left: 90%;
        position: absolute;
    }
}


/* .home */

.home{
    background-color: #333;
}
.content-home h6{
    color: rgb(219, 219, 219);

}
.content-home h1{
    font-weight: bold;
}
.home-img{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 9px solid orange;
}
.content-home .btn:hover{
    background-color: orange;
    color: #fff;
}
.content-home{
    position: relative;
    margin-left: 4rem;
}

@media screen and (min-width:760px){
    
    .content-home h1{
       font-size: 2.5rem;
   }
   .content-home{
       margin-left: 4rem;
   }
   .image{
       text-align: center;
   }
   
}
@media  screen and (max-width:760px) {
    .content-home h5,h1{
        font-size: 2rem;
        
    }
    .content-home{
        margin-left: 2rem;
    }
}

/* about-section */
.about-title{
    text-align: center;
}
.about{
    display: flex;
    align-items: center;
}
.about-image img{
    width: 350px;
    box-shadow: 10px 10px 0 2px #db0e0e;
  
}
.about-image{
    text-align: center;
    
}
.about-btn:hover{
    background-color: orange;
    color: #fff;
}
.about-btn{
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    margin-top: 40px;
    /* box-shadow: 0px 0px 2px 1px #f39110; */
    border: 2px solid orange;
    
}
.about-content{
    padding-top: 50px;
}
.about-link{
    position: relative;
}
.about-link::before{
    content: "";
    width: 16%;
    height: 2px;  
    background-color: orange;
    position: absolute;
    bottom: -10px;
    transition: all 250ms ease-in-out;

}
@media  screen and (max-width:700px) {
    .about-link{
        position: relative;
    }
    .about-link::before{
        content: "";
        width: 37%;
        height: 2px;  
        background-color: orange;
        position: absolute;
        bottom: -10px;
        transition: all 250ms ease-in-out;
    
    }
    .about-content{
        padding-inline: 20px;
    }
}

/* education-section */
.education{
    background: url(../image/e2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
   
}
.card{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    color: white;
    margin: 20px 20px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:700px){
    .card{
        width: 350px;
    }
    .edu-title{
        padding-top: 25px;
    }
}

/* contact-section */
.contact{
    background: url(..//image/com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
.contact-btn{
    background-color: transparent;
    color: #fff;
    border-radius:5px;
    border: 2px solid orange;
    padding: 10px 20px;
}
.contact-btn:hover{
    background-color: orange;

}
.contact i{
    padding-right: 20px;
}
.contact .icofont-phone{
    font-size: 25px;
}
.contact .one{
    margin-bottom: 20px;
}
@media screen and (max-width:700px){
    .about-title{
        padding-top: 40px;
    }
    .about-title .about-link{
        padding-top: 20px;
    }
}

/* project-section */
.project{
    background: url(..//image/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
.inner:hover img{
    transform:scale(1.2);
}
.inner img  {
    transition: ease all 300ms;
}
.inner{
    overflow: hidden;
}
.card-pro {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.project-link{
    position: relative;
}
.project-link::before{
    content: "";
    width: 13%;
    height: 2px;  
    background-color: orange;
    position: absolute;
    bottom: -10px;
    transition: all 250ms ease-in-out;

}
@media screen and (max-width:700px){
    .project-link::before{
        content: "";
        width: 28%;
        height: 2px;  
        background-color: orange;
        position: absolute;
        bottom: -10px;
        transition: all 250ms ease-in-out;
    
    }
    .last-card{
        margin-bottom: 4rem;
    }
}
@media screen and (min-width:800px){
    #project .container .card{
        width: 15rem;
    }
}


